@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
.ff_heebo {
  font-family: "Heebo", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

:root {
  /* ---------------- fs--------------- */
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 22px;
  --fs-2xl: 30px;
  --fs-3xl: 44px;
  --fs-4xl: 26px;

  /* ----------------- fw --------------- */

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-black-bold: 900;
  --fw-bold: 700;

  /* ------------------ color ---------------- */

  --color-light-black: #21243d;
  --color-sky: #00a8cc;
  --color-sky-black: #8695a4;
  --bg-color-orange: #ff6464;
  --bg-color-light-blue: #edf7fa;
  --bg-color-blue: #142850;
  --bg-color-dark-white: #e5e5e5;
}

.fs_14 {
  font-size: var(--fs-xsm);
}

.fs_16 {
  font-size: var(--fs-sm);
}

.fs_18 {
  font-size: var(--fs-md);
}

.fs_20 {
  font-size: var(--fs-lg);
}

.fs_22 {
  font-size: var(--fs-xl);
}

.fs_30 {
  font-size: var(--fs-2xl);
}
.fs_44 {
  font-size: var(--fs-3xl);
}
.fs_26 {
  font-size: var(--fs-4xl);
}

.fw_400 {
  font-weight: var(--fw-regular);
}

.fw_500 {
  font-weight: var(--fw-medium);
}
.fw_900 {
  font-weight: var(--fw-black-bold);
}

.fw_700 {
  font-weight: var(--fw-bold);
}
/* ---bg_color */
.bg_color_orange {
  background-color: var(--bg-color-orange);
}
.bg_color_blue {
  background-color: var(--bg-color-blue);
}
.bg_color_dark_white {
  background-color: var(--bg-color-dark-white);
}
.bg_color_light_blue {
  background-color: var(--bg-color-light-blue);
}

.color_light_black {
  color: var(--color-light-black);
}
.color_sky {
  color: var(--color-sky);
}
.color_sky_black {
  color: var(--color-sky-black);
}
nav,
ul,
li,
a {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
}

.text_align_center {
  text-align: center;
}

.fd_colmn {
  flex-direction: column;
}

.d_flex {
  display: flex;
}

.line2 {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: black;
}
.box {
  border-left: 1px solid black;
}
.box1 {
  background: #ffffff;
  border-radius: 4px;

  padding: 12px;
}
.line {
  border: 1px solid #e0e0e0;
}

.navmanu {
  width: 30px;
  margin-bottom: 10px;
}

.hover:hover {
  text-decoration: underline red;
  width: 100%;
  height: 4px;
}
.bord {
  background: #ff6464;
  border-radius: 2px;
}
.bord:hover {
  background-color: #8695a4;
}

@media (min-width: 768px) {
  .navmanu {
    display: none;
  }
}

@media (max-width: 768px) {
  .inline {
    display: none;
  }
}
@media (max-width: 576px) {
  :root {
    /* ---------------- fs--------------- */
    --fs-xsm: 14px;
    --fs-sm: 13px;
    --fs-md: 18px;
    --fs-lg: 16px;
    --fs-xl: 22px;
    --fs-2xl: 30px;
    --fs-3xl: 27px;
  }
}
@media (min-width: 576px) {
  :root {
    /* ---------------- fs--------------- */
    --fs-xsm: 14px;
    --fs-sm: 13px;
    --fs-md: 18px;
    --fs-lg: 13px;
    --fs-xl: 22px;
    --fs-2xl: 30px;
    --fs-3xl: 27px;
  }
}
@media (min-width: 768px) {
  :root {
    /* ---------------- fs--------------- */
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 18px;
    --fs-lg: 18px;
    --fs-xl: 22px;
    --fs-2xl: 30px;
    --fs-3xl: 30px;
  }
}
@media (min-width: 992px) {
  :root {
    /* ---------------- fs--------------- */
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 18px;
    --fs-lg: 18px;
    --fs-xl: 22px;
    --fs-2xl: 30px;
    --fs-3xl: 35px;
  }
}
@media (min-width: 1200px) {
  :root {
    /* ---------------- fs--------------- */
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 22px;
    --fs-2xl: 30px;
    --fs-3xl: 44px;
  }
}
